{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<!-- Header-->
<header class="masthead-shop">
    <div class="container position-relative image-shop">
        <div class="ms-2 row">
            <div class="col">
                <div class="text-dark">
                    <!-- Page heading-->
                    <h1 class="fw-bold one-line-strap masthead-title">Dadi's impressed..</h1>
                    <h1 class="fw-bold two-line-strap masthead-title">Dadi's impressed..</h1>
                    <p class="lead fw-normal text-dark-50 mb-0 sub-title">There's no better place for Adidas deals</p>
                    <a href="{% url 'products' %}?gender=f,u" id="strap-products-women" class="btn btn-danger btn-lg me-md-2 mt-4">SHOP
                        WOMEN'S</a>
                    <br class="strap-break-products">
                    <a href="{% url 'products' %}?gender=m,u" id="strap-margin-products"
                        class="btn btn-danger btn-lg me-lg-5 me-md-4 mt-4 strap-margin-products">SHOP MEN'S</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center">SHOPPING CART</h2>
                <hr class="hr-heading">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <p class="mb-2 text-center d-block d-md-none">FREE STANDARD DELIVERY WHEN YOU SPEND £50.</p>
                        <hr>
                        {% for item in cart_items %}
                        <div class="col-12 col-sm-6 text-center">
                            {% include "cart/product_image.html" %}
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "cart/product_specifics.html" %}
                        </div>
                        <div class="col-12 col-sm-6 text-sm-center">
                            <p class="my-0">{{ item.size }}</p>
                        </div>
                        <div class="col-12 col-sm-3">
                            {% include "cart/quantity_form.html" %}
                        </div>
                        <div class="col-12 col-sm-3 order-sm-last text-end">
                            {% if item.product.on_sale is True %}
                            <p class="my-0">
                                <strong>£{{ item.product.get_sale_price | calc_subtotal_sale:item.quantity }}</strong>
                            </p>
                            {% else %}
                            <p class="my-0">
                                <strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                            </p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="table-responsive rounded">
                    <p class="mb-2 text-center d-none d-md-block">FREE STANDARD DELIVERY WHEN YOU SPEND £50.</p>
                    <table class="table table-sm table-borderless">
                        <thead class="border-top border-bottom d-none d-md-table-header-group">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">PRODUCT NAME</th>
                                <th scope="col">SIZE</th>
                                <th scope="col">QUANTITY</th>
                                <th scope="col" class="text-end">PRICE</th>
                            </tr>
                        </thead>
                        {% for item in cart_items %}
                        <tr class="d-none d-md-table-row">
                            <td class="p-3 cart-image">
                                {% if item.product.image1 %}
                                <img class="img-fluid rounded" src="{{ item.product.image1.url }}"
                                    alt="{{ item.product.name }}">
                                {% else %}
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ item.product.name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                {% include "cart/product_specifics.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.size }}</p>
                            </td>
                            <td class="py-3">
                                {% include "cart/quantity_form.html" %}
                            </td>
                            <td class="py-3 text-end">
                                {% if item.product.on_sale is True %}
                                <p class="my-0">
                                    <strong>£{{ item.product.get_sale_price | calc_subtotal_sale:item.quantity }}</strong>
                                </p>
                                {% else %}
                                <p class="my-0">
                                    <strong>£{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                                </p>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="border-top">
                            <td colspan="4" class="pt-3 text-end">
                                <h6><strong>SUB TOTAL:</strong></h6>
                            </td>
                            <td class="pt-3 text-end">
                                <h6> <strong>£{{ total|floatformat:2 }}</strong></h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">
                                <h6>DELIVERY:</h6>
                            </td>
                            <td class="text-end">
                                <h6>£{{ delivery|floatformat:2 }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">
                                <h4 class="mt-2"><strong>ORDER TOTAL: </strong>
                            </td>
                            <td class="text-end">
                                <h4 class="mt-2"><strong>£{{ order_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">
                                {% if free_delivery_delta > 0 %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end">
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just
                                    <strong>£{{ free_delivery_delta }}</strong> more!
                                </p>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="5" class="text-end shop-button-wrapper">
                                <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg shop-button">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Continue Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-dark btn-lg shop-button">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="bi bi-lock-fill"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5 text-center">Your cart is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                    <span class="icon">
                        <i class="bi bi-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Continue Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>

    </div>
</section>
{% endblock %}
{% block page_footer %}
<!-- Footer-->
<footer class="py-5 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg text-center my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://www.facebook.com/" target="_blank" class="social-black"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="https://twitter.com/" target="_blank" class="social-black"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" class="social-black"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center my-auto">
                <p class="mt-2 m-0 text-dark">Copyright &copy; Sneaker Dadi 2021</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'cart/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}