{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sneaker Dadi's got you covered..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Check out our fantastic Adidas footwear deals!</p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4 text-center">SHOPPING CART</h2>
                <hr class="hr-heading">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded">
                    <p class="mb-2 text-center">FREE STANDARD UK DELIVERY WHEN YOU SPEND £50.</p>
                    <table class="table table-sm table-borderless">

                        <thead class="border-top border-bottom">

                            <tr>
                                <th scope="col"></th>
                                <th scope="col">PRODUCT NAME</th>
                                <th scope="col">SIZE</th>
                                <th scope="col">QUANTITY</th>
                                <th scope="col" class="text-end">PRICE</th>
                            </tr>

                        </thead>

                        {% for item in cart_items %}
                        <tr>
                            <td class="p-3 cart-image">
                                <img class="img-fluid rounded" src="{{ item.product.image1.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.product.name }}</p>
                                <p class="my-0 small text-muted">Product ID: {{ item.product.product_id|upper }}</p>
                                <p class="my-0"><strong>£{{ item.product.price }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.size }}</p>
                            </td>
                            <td class="py-3">
                                <!--<p class="my-0">{{ item.quantity }}</p>-->
                                <form class="form update-form" method="POST" action="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <small><i class="bi bi-dash-lg"></i></small>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="bi bi-plus-lg"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info"><small>Update</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                    data-size="{{ item.size }}"><small>Remove</small></a>
                            </td>
                            <td class="py-3 text-end">
                                <p class="my-0"><strong>£{{ item.product.price }}</strong></p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="border-top">
                            <td colspan="4" class="pt-3 text-end">
                                <h6><strong>Cart Total:</strong></h6>
                            </td>
                            <td class="pt-3 text-end">
                                <h6> <strong>£{{ total|floatformat:2 }}</strong></h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">
                                <h6>Delivery:</h6>
                            </td>
                            <td class="text-end">
                                <h6>£{{ delivery|floatformat:2 }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">
                                <h4 class="mt-2"><strong>Order Total: </strong>
                            </td>
                            <td class="text-end">
                                <h4 class="mt-2"><strong>£{{ order_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">
                                {% if free_delivery_delta > 0 %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end">
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just
                                    <strong>£{{ free_delivery_delta }}</strong> more!
                                </p>
                            </td>
                        </tr>
                        {% endif %}
                        </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end">
                                <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Continue Shopping</span>
                                </a>
                                <a href="" class="btn btn-dark btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="bi bi-lock-fill"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5 text-center">Your cart is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                    <span class="icon">
                        <i class="bi bi-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Continue Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'cart/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}