{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css" />
{% endblock %}

{% block page_header %}
<!-- Masthead-->
<!--<header class="masthead" style="background-image: url('{{ MEDIA_URL}}sneakers-black-background.webp')">-->
<header class="masthead">
    <div class="container position-relative">
        <div class="ms-2 row">
            <div class="col">
                <div class="text-white">
                    <!-- Page heading-->
                    <h1 class="fw-bold one-line-strap">Get your adi from Dadi..</h1>
                    <h1 class="fw-bold two-line-strap">Get your adi</h1>
                    <h1 class="fw-bold two-line-strap">from Dadi..</h1>
                    <p class="lead fw-normal text-white-50 mb-0 sub-title">Check out our fantastic Adidas footwear
                        deals!</p>
                    <a href="{% url 'products' %}" class="btn btn-danger btn-lg me-lg-5 me-md-4 mt-4">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Best sellers section-->
<section class="pt-5 bg-light">
    <div class="container px-4 px-lg-5 pb-5">
        <h2 class="mb-4 text-center showcase-caps">BEST SELLERS</h2>
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in top_sellers_female %}
                <div class="carousel-cell">
                    <div class="card h-100">
                        {% if product.on_sale is True %}
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Sale
                        </div>
                        {% endif %}
                        <!-- Product image-->
                        {% if product.image1 %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image1.url }}" alt="{{ product.name }}" />
                        </a>
                        {% else %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body card-body-home">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="product-name fw-bolder">{{ product.name }}</h5>
                                <!-- Product reviews-->
                                {% if product.average_rating %}
                                <small class="rating text-muted">
                                    <!-- Average star rating -->
                                    {% with ''|center:product.average_rating as range %}
                                    {% for _ in range %}
                                    <i class="bi bi-star-fill text-warning"></i>
                                    {% endfor %}
                                    {% endwith %}
                                    <!-- Average rating -->
                                    <span
                                        class="avg-rating ms-2">{{ product.average_rating|floatformat:"1" }}</span>/5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                <!-- Superuser options -->
                                {% if request.user.is_superuser %}
                                <p class="ms-3 remove-margin">
                                    <a class="small" href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="small text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </p>
                                {% endif %}
                                <!-- Product price -->
                                {% if product.on_sale is True %}
                                <p class="price">
                                    <span class="text-decoration-line-through">£{{ product.price }}</span>
                                    <span class="text-danger fw-bold">£{{ product.get_sale_price }}</span></p>
                                {% else %}
                                <p class="price">£{{ product.price }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for product in top_sellers_male %}
                <div class="carousel-cell">
                    <div class="card h-100">
                        {% if product.on_sale is True %}
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Sale
                        </div>
                        {% endif %}
                        <!-- Product image-->
                        {% if product.image1 %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image1.url }}" alt="{{ product.name }}" />
                        </a>
                        {% else %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body card-body-home">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder product-name">{{ product.name }}</h5>
                                <!-- Product reviews-->
                                {% if product.average_rating %}
                                <small class="rating text-muted">
                                    <!-- Average star rating -->
                                    {% with ''|center:product.average_rating as range %}
                                    {% for _ in range %}
                                    <i class="bi bi-star-fill text-warning"></i>
                                    {% endfor %}
                                    {% endwith %}
                                    <!-- Average rating -->
                                    <span
                                        class="avg-rating ms-2">{{ product.average_rating|floatformat:"1" }}</span>/5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                <!-- Superuser options -->
                                {% if request.user.is_superuser %}
                                <p class="ms-3 remove-margin">
                                    <a class="small" href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="small text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </p>
                                {% endif %}
                                <!-- Product price -->
                                {% if product.on_sale is True %}
                                <p class="price">
                                    <span class="text-decoration-line-through">£{{ product.price }}</span>
                                    <span class="text-danger fw-bold">£{{ product.get_sale_price }}</span></p>
                                {% else %}
                                <p class="price">£{{ product.price }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--Flickity carousel-->
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row showcase-row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('{{ MEDIA_URL }}couple-on-bench2.webp')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2 class="showcase-caps">FASHION & GYM</h2>
                <p class="lead sales-text mb-0">Make a statement with the lastest
                    Sneaker Dadi
                    fashion footwear range. For the gym we have the shoes to support even the toughest workout!</p>
            </div>
        </div>
        <div class="row showcase-row g-0">
            <div class="col-lg-6 text-white showcase-img"
                style="background-image: url('{{ MEDIA_URL }}orange-black-sneakers.webp')">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2 class="showcase-caps">RUNNING, HIKING, SANDALS & SLIPPERS</h2>
                <p class="lead sales-text mb-0">Get set for all
                    conditions
                    with our newest running shoes and hiking footwear.  We also have the shoes you need for that holiday or trip to the beach.</p>
            </div>
        </div>
        <div class="row showcase-row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('{{ MEDIA_URL }}athlete-grey-sneakers.webp')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2 class="showcase-caps">SPORTS</h2>
                <p class="lead sales-text mb-0">The latest sports collection has arrived. Stay on top of your game with
                    our shoe
                    ranges for soccer,
                    tennis, basketball, taekwondo and much more. </p>
            </div>
        </div>
    </div>
</section>
<!-- Trending section-->
<section class="pt-5 bg-light">
    <div class="container px-4 px-lg-5 pb-5">
        <h2 class="mb-4 text-center showcase-caps">TRENDING RIGHT NOW</h2>
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in trending_female %}
                <div class="carousel-cell">
                    <div class="card h-100">
                        {% if product.on_sale is True %}
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Sale
                        </div>
                        {% endif %}
                        <!-- Product image-->
                        {% if product.image1 %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image1.url }}" alt="{{ product.name }}" />
                        </a>
                        {% else %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body card-body-home">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="product-name fw-bolder">{{ product.name }}</h5>
                                <!-- Product reviews-->
                                {% if product.average_rating %}
                                <small class="rating text-muted">
                                    <!-- Average star rating -->
                                    {% with ''|center:product.average_rating as range %}
                                    {% for _ in range %}
                                    <i class="bi bi-star-fill text-warning"></i>
                                    {% endfor %}
                                    {% endwith %}
                                    <!-- Average rating -->
                                    <span
                                        class="avg-rating ms-2">{{ product.average_rating|floatformat:"1" }}</span>/5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                <!-- Superuser options -->
                                {% if request.user.is_superuser %}
                                <p class="ms-3 remove-margin">
                                    <a class="small" href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="small text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </p>
                                {% endif %}
                                <!-- Product price-->
                                {% if product.on_sale is True %}
                                <p class="price">
                                    <span class="text-decoration-line-through">£{{ product.price }}</span>
                                    <span class="text-danger fw-bold">£{{ product.get_sale_price }}</span></p>
                                {% else %}
                                <p class="price">£{{ product.price }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for product in trending_male %}
                <div class="carousel-cell">
                    <div class="card h-100">
                        {% if product.on_sale is True %}
                        <!-- Sale badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Sale
                        </div>
                        {% endif %}
                        <!-- Product image-->
                        {% if product.image1 %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image1.url }}" alt="{{ product.name }}" />
                        </a>
                        {% else %}
                        <a class="carousel-img" href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body card-body-home">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder product-name">{{ product.name }}</h5>
                                <!-- Product reviews-->
                                {% if product.average_rating %}
                                <small class="rating text-muted">
                                    <!-- Average star rating -->
                                    {% with ''|center:product.average_rating as range %}
                                    {% for _ in range %}
                                    <i class="bi bi-star-fill text-warning"></i>
                                    {% endfor %}
                                    {% endwith %}
                                    <!-- Average rating -->
                                    <span
                                        class="avg-rating ms-2">{{ product.average_rating|floatformat:"1" }}</span>/5</small>
                                {% else %}
                                <small class="text-muted">No Rating</small>
                                {% endif %}
                                <!-- Superuser options -->
                                {% if request.user.is_superuser %}
                                <p class="ms-3 remove-margin">
                                    <a class="small" href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="small text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </p>
                                {% endif %}
                                <!-- Product price-->
                                {% if product.on_sale is True %}
                                <p class="price">
                                    <span class="text-decoration-line-through">£{{ product.price }}</span>
                                    <span class="text-danger fw-bold">£{{ product.get_sale_price }}</span></p>
                                {% else %}
                                <p class="price">£{{ product.price }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--Flickity carousel-->
    </div>
</section>
{% endblock %}