<!-- Delete Product Review Modal -->
{% if user.is_superuser %}
<div class="modal fade" id="deleteProduct{{ product.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProductLabel">Delete Product Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ product.name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_product' product.id %}" id="delete_review" type="button"
                        class="btn btn-danger float-end font-normal">Delete</a>
                </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End Delete Product Review Modal -->
 <!-- Add Product Review Modal -->
 {% if user.is_authenticated %}
 {% if can_add_review %}
 <div class="modal fade" id="productReview" tabindex="-1">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="productReviewLabel">Add Product Review</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
             </div>
             <div class="modal-body">
                 <form method="POST" action="{% url 'add_review' product.id %}">
                     {% csrf_token %}
                     <fieldset class="rounded px-3 mb-2">
                         <div class="mb-2">
                             {{ form.review_text | as_crispy_field }}
                         </div>
                         <div class="mb-2 col-6">
                             {{ form.review_rating | as_crispy_field }}
                         </div>
                     </fieldset>
                     <button type="submit" class="btn btn-dark float-end ms-1 me-4">Submit</button>
                     <button type="button" class="btn btn-outline-dark float-end" data-bs-dismiss="modal">Cancel</button>
                 </form>
             </div>
         </div>
     </div>
 </div>
 {% endif %}
 {% endif %}
 <!-- End Product Review Modal -->
