{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sneaker Dadi's got you covered..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Check out our fantastic Adidas footwear deals!</p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col mb-1">
                <h2 class="text-center">PROFILE</h2>
                <hr class="hr-heading-short">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <h3 class="text-center">DEFAULT DELIVERY INFO</h3>
                <hr class="hr-heading">
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-2">
                        <legend class="fieldset-label small px-2 w-auto">Contact details</legend>
                        <div class="mb-2">
                            {{ form.default_full_name | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ form.default_email | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ form.default_phone_number | as_crispy_field }}
                        </div>
                    </fieldset>
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label small px-2 w-auto">Delivery address</legend>
                            <div class="mb-2">
                                {{ form.default_street_address1 | as_crispy_field }}
                            </div>
                            <div class="mb-2">
                                {{ form.default_street_address2 | as_crispy_field }}
                            </div>
                            <div class="mb-2">
                                {{ form.default_town_or_city | as_crispy_field }}
                            </div>
                            <div class="mb-2">
                                {{ form.default_county | as_crispy_field }}
                            </div>
                            <div class="mb-2">
                                {{ form.default_postcode | as_crispy_field }}
                            </div>
                            <div class="mb-2">
                                {{ form.default_country | as_crispy_field }}
                            </div>
                        </fieldset>
                        <button class="btn btn-dark text-uppercase float-end me-3">Update Delivery Info</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="text-center">ORDER HISTORY</h3>
                <hr class="hr-heading">
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>
                                    <h6>REF</h6>
                                </th>
                                <th>
                                    <h6>DATE</h6< /th>
                                <th>
                                    <h6>ITEMS</h6>
                                </th>
                                <th>
                                    <h6>TOTAL</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders reversed %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li class="small">
                                            Size {{ item.size|upper }} {{ item.product.name }} x{{ item.quantity }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.order_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}