{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<!-- Header-->
<header class="masthead-shop">
    <div class="container position-relative image-shop">
        <div class="ms-2 row">
            <div class="col">
                <div class="text-dark">
                    <!-- Page heading-->
                    <h1 class="fw-bold one-line-strap masthead-title">Dadi's impressed..</h1>
                    <h1 class="fw-bold two-line-strap masthead-title">Dadi's impressed..</h1>
                    <p class="lead fw-normal text-dark-50 mb-0 sub-title">There's no better place for Adidas deals</p>
                    <a href="{% url 'products' %}?gender=f,u" id="strap-products-women" class="btn btn-danger btn-lg me-md-2 mt-4">SHOP
                        WOMEN'S</a>
                    <br class="strap-break-products">
                    <a href="{% url 'products' %}?gender=m,u" id="strap-margin-products"
                        class="btn btn-danger btn-lg me-lg-5 me-md-4 mt-4 strap-margin-products">SHOP MEN'S</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 text-center">REVIEW YOUR ORDER</h2>
                <hr class="hr-heading">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 order-2 mb-5">
                <h6 class="mb-2 mt-md-4 order-margin">YOUR ORDER</h6>
                <p class="text-muted"><small>{% if product_count == 1 %}1 item{% else %}
                        {{ product_count }} items{% endif %}</small></p>
                {% for item in cart_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if item.product.image1 %}
                        <img class="w-100" src="{{ item.product.image1.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0 ms-1">{{ item.product.name }}</p>
                        <p class="my-0 ms-1 small">Size: {{ item.size|upper }}
                        </p>
                        <p class="my-0 ms-1 small">Qty: {{ item.quantity }}</p>
                        <p class="my-0 ms-1 small">
                            {% if item.product.on_sale is True %}
                            <strong>
                                £{{ item.product.get_sale_price | calc_subtotal_sale:item.quantity }}</strong>
                            {% else %}
                            <strong>
                                £{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                            {% endif %}
                        </p>
                    </div>
                    <hr class="mt-2 mb-3">
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-4">
                        <p><strong>
                                SUB TOTAL:</strong></p>
                    </div>
                    <div class="col-8 text-end">
                        <p>£{{ total|floatformat:2 }}</p>
                    </div>
                    <div class="col-4">
                        <p>
                            DELIVERY:</p>
                    </div>
                    <div class="col-8 text-end">
                        <p>£{{ delivery|floatformat:2 }}</p>
                    </div>
                    <hr class="mt-2 mb-3">
                    <div class="col-4">
                        <p><strong>
                                ORDER TOTAL:</strong></p>
                    </div>
                    <div class="col-8 text-end">
                        <p>£{{ order_total|floatformat:2 }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 order-1">
                <h3 class="text-center">DELIVER TO</h3>
                <hr class="hr-heading">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-2">
                        <legend class="fieldset-label small px-2 w-auto">Contact details</legend>
                        <div class="mb-2">
                            {{ order_form.full_name | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ order_form.email | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ order_form.phone_number | as_crispy_field }}
                        </div>
                    </fieldset>
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label small px-2 w-auto">Delivery address</legend>
                        <div class="mb-2">
                            {{ order_form.street_address1 | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ order_form.street_address2 | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ order_form.town_or_city | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ order_form.county | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ order_form.postcode | as_crispy_field }}
                        </div>
                        <div class="mb-2">
                            {{ order_form.country | as_crispy_field }}
                        </div>
                        <div class="form-check form-check-inline d-flex flex-row-reverse">
                            {% if user.is_authenticated %}
                            <input class="form-check-input ms-2 me-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            <label class="form-check-label" for="id-save-info">Save delivery address to my
                                profile</label>
                            {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button text-end mt-2 mb-2 me-3 shop-button-wrapper">
                        <a href="{% url 'view_cart' %}" class="btn btn-outline-dark shop-button">
                            <i class="bi bi-chevron-left"></i>
                            <span class="font-weight-bold">Go Back</span>
                        </a>
                        <button id="submit-button" class="btn btn-dark shop-button">
                            <span class="font-weight-bold">Complete Order</span>
                            <i class="bi bi-lock-fill"></i>
                        </button>
                        <p class="small text-danger my-0">
                            <i class="bi bi-exclamation-circle-fill"></i>
                            <span>Your card will be charged <strong>£{{ order_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <div class="spinner-border text-light loading-spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</section>
{% endblock %}
{% block page_footer %}
<!-- Footer-->
<footer class="py-5 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg text-center my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://www.facebook.com/" target="_blank" class="social-black"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="https://twitter.com/" target="_blank" class="social-black"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" class="social-black"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center my-auto">
                <p class="mt-2 m-0 text-dark">Copyright &copy; Sneaker Dadi 2021</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}