/*body {
  background: url('/media/sneaker-logo.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: 'Lato', sans-serif;
}*/

/* Navbar */
/* Match color for menu items */
.text-nav {
    color: rgba(0,0,0,.55);
}

/* mdbootstrap dropdown menu */
/* Credit: https://mdbootstrap.com/docs/standard/extended/dropdown-multilevel/ */
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

/* Products */
/* Back to top button settings */
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.bi-caret-up-square-fill {
  font-size: 2rem;
  color: #6c757d;
}

/* Product Description */
/* Category text color */
#text-category {
  color: #212529;
}

/* Media Queries */
/* Reduce margin on logo below 575px */
@media (max-width: 575px) {
  .navbar-brand {
    margin-right: 0rem; 
  }
}
