/*#page-container {
  position: relative;
  min-height: 100vh;
}*/

/* Landing Page */
header.masthead {
  background-color: #000;
  height: 250px;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 16rem;
}

/* Home header image */
.image-home {
  position: relative;
  /*background-size: cover;*/
  background-image: url('/media/sneakers-black-background.webp');
  background-repeat: no-repeat;
  background-position: right;
  height: 240px;
}

/*header.masthead:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}*/
/*header.masthead h1,
header.masthead .h1 {
  font-size: 3rem;
}*/

.masthead-title {
  font-size: 3rem;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Format sales text on home page */
.sales-link,
.sales-link:hover {
  text-decoration: none;
  color: #212529;
  /*background: none;
  border: none;*/
}

/* Showcase button colors */
.btn-showcase {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

/* Showcase button colors */
.btn-showcase:hover {
  color: #212529;
  background-color: #fff;
  border-color: #212529;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

/* Remove padding & add fixed height for card-body */
.card-body-home {
  padding: 0rem 0rem !important;
  height: 135px;
}

/* Remove padding from card-body */
.card-body-products {
  padding: 0rem 0rem !important;
}

.card-img-top {
  max-height: 235px;
  max-width: 235px;
}

/* Carousel margin */
.carousel-cell {
  margin-right: 20px;
}

/* Center align carousel image */
.carousel-img {
  text-align: center;
}

/* Remove bottom margin from carousel product names */
/*.product-name {
  margin-bottom: 0rem;
}*/


/* Home page */
/* Remove formatting for card links */
.no-underline {
  text-decoration: none;
  color: inherit;
}

/* Remove bottom margin from paragraph */
.remove-margin {
  margin-bottom: 0 !important;
}

/* Navbar */
/* Match color for menu items */
.text-nav {
  color: rgba(0, 0, 0, .55);
}

/* Remove padding on Nav link */
.nav-link {
  padding: 0;
}

/* mdbootstrap dropdown menu */
/* Credit: https://mdbootstrap.com/docs/standard/extended/dropdown-multilevel/ */
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

/* Products */
header.masthead-products {
  background-color: #ECEDEF;
  height: 250px;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 16rem;
}

/* Products header image */
.image-products {
  position: relative;
  /*background-size: cover;*/
  background-image: url('/media/white-sneaker.webp');
  background-repeat: no-repeat;
  background-position: right;
  height: 240px;
}

/* Products on sale */
header.masthead-sale-admin {
  /*position: relative;*/
  background-color: #080808;
  /*background-image: url('/media/white-sneaker-black2.webp');*/
  /*background-repeat: no-repeat;*/
  /*background-position: right;*/
  height: 250px;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 16rem;
}

/* Products on sale header image */
.image-sale-admin {
  position: relative;
  background-image: url('/media/white-sneaker-black3.webp');
  background-repeat: no-repeat;
  background-position: right;
  height: 250px;
}

/* Cart & Checkout*/
header.masthead-shop {
  background-color: #ECEDEF;
  height: 250px;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 16rem;
}

/* Cart & Checkout header image */
.image-shop {
  position: relative;
  /*background-size: cover;*/
  background-image: url('/media/blue-sneaker.webp');
  background-repeat: no-repeat;
  background-position: right;
  height: 240px;
}

/* Checkout success */
header.masthead-success {
  background-color: #000;
  height: 250px;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 16rem;
}

/* Checkout success header image */
.image-success {
  position: relative;
  /*background-size: cover;*/
  background-image: url('/media/black-sneakers.webp');
  background-repeat: no-repeat;
  background-position: right;
  height: 240px;
}

/* Part of solution to keep footer at bottom of page*/
/* Credit: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
footer {
  margin-top: auto;
}

/* Part of solution to keep footer at bottom of page*/
/* Credit: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Adjust footer background color*/
.bg-grey {
  background-color: #ECEDEF;
}

/* Adjust social media link color */
.social-black {
  color: #212529;
}

/* Adjust social media link color */
.social-white {
  color: #fff;
}

/* Back to top button settings */
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.bi-caret-up-square-fill {
  font-size: 2rem;
  color: #6c757d;
}

/* Remove button features from Product Delete link */
/* Credit: https://stackoverflow.com/questions/9467504/html-make-text-clickable-without-making-it-a-hyperlink/9467534 */
.delete-link {
  text-decoration: underline;
  background: none;
  border: none;
}

/* Change cursor to pointer & size for Product Review icons */
.pointer-size {
  cursor: pointer;
  font-size: 1.1em
}

/* Verified purchase text */
.verified {
  color: #c45500;
  font-size: 0.75em;
  font-weight: bold;
  font-style: normal;
}


/* Product Details */
/* Category text color */
#text-category {
  color: #212529;
}

/* To enable button next to Reviews heading */
.review-heading {
  display: inline-block;
}

/* Remove opacity for messages */
/* Credit: https://stackoverflow.com/questions/17635655/setting-toastr-opacity */
#message-container>div {
  opacity: 1;
}

/*#message-container > div {
  opacity: 1;
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
 filter: alpha(opacity=100);
}*/

/* Show down arrow on select form for size */
/* Credit: https://stackoverflow.com/questions/31417160/drop-down-arrow-in-select-boxes-not-showing */
.form-control {
  -webkit-appearance: menulist;
}

/* Sales badge size */
#badge-size {
  font-size: 0.35em !important;
  vertical-align: middle;
}

/* Remove italic from Delete button */
.font-normal {
  font-style: normal !important;
}

/* Add margin-top to Add to Cart button on wrap */
/* Credit: https://stackoverflow.com/questions/30887071/margin-top-only-when-the-flex-item-is-wrapped */
.shop-button-wrapper {
  /*display: flex;*/
  flex-wrap: wrap;
  margin-top: -10px;
}

/* Add margin-top to Add to Cart button on wrap */
.shop-button {
  margin-top: 10px;
}

/* Shopping cart */
/* Heading underline */
.hr-heading {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

/* Product image size in cart */
.cart-image {
  width: 20%;
}

/* Reduce font-weight for table header */
th {
  font-weight: 400;
}

/* Hide increment/decrement arrows in quantity input box */
/* Credit: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Quantity box settings for size and text alignment */
.qty_input {
  flex: none !important;
  min-width: 40px !important;
  text-align: center;
}

/* Toast Messages */
#message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 1060;
}

/*.toast {
  z-index: 999999;
}*/

.cart-notification-wrapper {
  height: 105px;
  overflow-x: hidden;
  overflow-y: auto;
}

.toast-capper {
  height: 2px;
}

/* Change Checkout button color on mouseover */
/* Credit: https://stackoverflow.com/questions/25923623/change-hover-color-on-a-button-with-bootstrap-customization */
.btn-dark:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

/* Checkout Success */
/* Heading underline */
.hr-heading-short {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
  margin-top: 1.5rem;
  /* mt-4 */
  color: #6c757d;
  /* text-secondary */
}

.allauth-form-inner-content input {
  /*border-color: #000;
  border-radius: 0;*/
  margin-bottom: 1rem;
}

.allauth-form-inner-content label {
  margin-bottom: 1rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  /* btn */
  /*display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;*/
  margin-bottom: 1rem;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.allauth-form-inner-content a {
  color: #212529;
  /* text-info */
  margin-bottom: 1rem;
}

/* Product Form */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Media Queries */
@media (max-width: 1200px) {

  /* Resize strapline font */
  /*header.masthead h1,
  header.masthead .h1 {
    font-size: 2.5rem;
  }*/
  .masthead-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {

  /* Resize Shop Now button */
  .btn-group-lg>.btn,
  .btn-lg {
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
  }

  /* Remove sub-title */
  .sub-title {
    display: none;
  }
}

@media (max-width: 768px) {

  /* Resize image home page*/
  header.masthead {
    padding-top: 1rem;
    padding-bottom: 15rem;
  }

  /* Resize image Home page */
  .image-home {
    background-image: url('/media/sneakers-black-background-md.webp');
    background-position: center;
  }

  /* Resize image Products page */
  header.masthead-products {
    padding-top: 1rem;
    padding-bottom: 15rem;
  }

  /* Resize image Products page */
  .image-products {
    background-image: url('/media/white-sneaker-md.webp');
    background-position: right;
  }

  /* Resize image Products page */
  header.masthead-sale-admin {
    padding-top: 1rem;
    padding-bottom: 15rem;
  }

  /* Resize image Sale page */
  .image-sale-admin {
    background-image: url('/media/white-sneaker-black3-md.webp');
    background-position: right;
  }

  /* Resize image Products page */
  header.masthead-shop {
    padding-top: 1rem;
    padding-bottom: 15rem;
  }

  /* Resize image Products page */
  .image-shop {
    background-image: url('/media/blue-sneaker-md.webp');
    background-position: right;
  }

  /* Resize image checkout success*/
  header.masthead-success {
    padding-top: 1rem;
    padding-bottom: 15rem;
  }

  /* Resize image checkout success */
  .image-success {
    background-image: url('/media/black-sneakers-md.webp');
    background-position: center;
  }

  /* Resize strapline font */
  /*header.masthead h1,
  header.masthead .h1 {
    font-size: 2rem;
  }*/
  .masthead-title {
    font-size: 2rem;
  }

  /* Resize Shop Now button */
  .btn-group-lg>.btn,
  .btn-lg {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
  }

  /* Add margin to heading shop buttons */
  #strap-margin {
    margin-top: 0.75rem !important;
  }

  /* Add margin to heading shop buttons */
  .strap-margin-products {
    margin-top: 0.75rem !important;
  }
}

/* Reduce margin on logo below 575px */
@media (max-width: 575px) {
  .navbar-brand {
    margin-right: 0rem;
  }

  /* Resize image */
  .image-home {
    background-image: url('/media/sneakers-black-background-sm.webp');
  }

  /* Resize image */
  .image-products {
    background-image: url('/media/white-sneaker-sm.webp');
    background-position: top;
  }

  /* Resize image */
  .image-sale-admin {
    background-image: url('/media/white-sneaker-black3-sm.webp');
    background-position: center;
  }

  /* Resize image */
  .image-shop {
    background-image: url('/media/blue-sneaker-sm.webp');
    background-position: top;
  }

  /* Resize image */
  .image-success {
    background-image: url('/media/black-sneakers-sm.webp');
    background-position: top;
  }

  /* Strapline over two rows */
  .two-line-strap {
    display: none;
  }

  /* Increase margin-top */
  .mt-4 {
    margin-top: 5rem !important;
  }

  /* Add margin to heading shop buttons */
  #strap-margin-products {
    margin-top: 8.5rem !important;
  }

  /* Add margin to heading shop buttons */
  #strap-products-women {
    margin-top: 8.5rem !important;
  }

  /* Add margin to heading shop buttons */
  #strap-margin-sale {
    margin-top: 8.5rem !important;
  }

  /* Add margin to heading shop buttons */
  #strap-sale-women {
    margin-top: 8.5rem !important;
  }

   /* Add margin to heading shop buttons */
   #strap-margin-success {
    margin-top: 7rem !important;
  }

  /* Add margin to heading shop buttons */
  #strap-success-women {
    margin-top: 7rem !important;
  }
}


@media screen and (min-width: 360px) {

  /* Two carousel cells for small devices */
  .carousel-cell {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {

  /* Strapline over two rows */
  .one-line-strap {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  /* Three carousel cells for medium sized devices */
  .carousel-cell {
    width: 33%;
  }

  /* Enable correct Related products carousel slide number */
  .related-sm-carousel {
    display: none;
  }

  /* Remove line break to heading shop buttons */
  .strap-break {
    display: none;
  }

  /* Remove line break to heading shop buttons */
  .strap-break-products {
    display: none;
  }

  /* Add display settings to Cart table */
  .d-md-table-header-group {
    display: table-header-group !important;
  }

}

@media (min-width: 992px) {

  /* Strapline over two rows */
  .two-line-strap {
    display: none;
  }

  /* Four carousel cells for larger devices */
  .carousel-cell {
    width: 25%;
  }

  /* Enable correct Related products carousel slide number */
  .related-md-carousel {
    display: none;
  }
}

@media (min-width: 1200px) {

  /* Enable correct Related products carousel slide number */
  .related-lg-carousel {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  /*@media screen and (max-width: 1200px) {*/
  /* Margin for Account icon and search on collapse */
  .collapse-margin {
    margin-left: 1rem !important;
  }

  /* Adjust search box width and add margin on collapse */
  .collapse-search {
    width: 25% !important;
    margin-bottom: .25rem !important;
  }
}

@media screen and (max-width: 1199px) {

  /* Adjust Related products carousel to display if more than 4 items on extra large display */
  .related-xl-carousel {
    display: none;
  }
}

@media screen and (max-width: 991px) {

  /* Adjust search box width and add margin on collapse */
  .collapse-search {
    margin-left: 0rem !important;
    width: 50% !important;
    margin-bottom: .25rem !important;
  }

  /* Adjust Related products carousel to display if more than 3 items on large display */
  .related-lg-carousel {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  /* Adjust Related products carousel to display if more than 2 items on medium display */
  .related-md-carousel {
    display: none;
  }

  /* Align margin for Add Review button */
  #btn-review {
    margin-left: 0rem !important;
    margin-top: 0.25rem;
  }

  /* Adjust font size for title on cart & checkout header */
 /* header.masthead-success h1.masthead-title {
    font-size: 1.815rem;
  }*/
}

@media screen and (max-width: 575px) {

  /* Adjust search box width and add margin on collapse */
  .collapse-search {
    /*margin-left: 0rem!important;*/
    width: 100% !important;
    /*margin-bottom: .25rem!important;*/
  }

  /* Carousel & product list font size changes */
  .product-name {
    font-size: 1.05rem;
  }

  .price {
    font-size: 0.9rem;
  }

  .product-text {
    font-size: 0.775em;
  }

  .carousel-cell {
    margin-right: 10px;
  }

  /* Align showcase images */
  .showcase-img {
    min-height: 20rem !important;
  }

  /* Reduce showcase caps size */
  .showcase-caps {
    font-size: calc(1rem + .8vw);
  }

  /* Reduce showcase text size */
  .sales-text {
    font-size: 1.0rem;
    font-weight: 300;
  }

  /* Remove line break to heading shop buttons on Products page*/
  .strap-break-products {
    display: none;
  }

  /* Add margin-top to Your Order title on checkout success page*/
  .order-margin {
    margin-top: 3rem!important; 
    }

}

@media screen and (max-width: 424px) {

  #strap-margin {
    margin-top: 8.25rem !important;
  }

  #strap-margin-women {
    margin-top: 8.25rem !important;
  }

  /* Remove line break to heading shop buttons */
  .strap-break {
    display: none;
  }

  /* Adjust product name font size */
  .product-name {
    font-size: 1.0rem;
  }

  /* Adjust font size for title on cart & checkout header */
  header.masthead h1.masthead-title {
    font-size: 1.5rem;
  }

  /* Adjust font size for title on cart & checkout header */
  header.masthead-shop h1.masthead-title {
    font-size: 1.7rem;
  }

  /* Adjust font size for title on cart & checkout header */
  header.masthead-success h1.masthead-title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 359px) {

  /* One carousel cell for extra small devices */
  .carousel-cell {
    width: 100%;
  }

  /* Align showcase images */
  .showcase-img {
    min-height: 15rem !important;
  }

  .product-name {
    font-size: 0.9rem;
  }
}