{% extends "base.html" %}
{% block page_header %}
<!-- Header-->
<header class="masthead-sale-admin">
    <div class="container position-relative image-sale-admin">
        <div class="ms-2 row">
            <div class="col">
                <div class="text-white">
                    <!-- Page heading-->
                    <h1 class="fw-bold one-line-strap masthead-title">Dadi got sole..</h1>
                    <h1 class="fw-bold two-line-strap masthead-title">Dadi got sole..</h1>
                    <p class="lead fw-normal text-white-50 mb-0 sub-title">The sweetest Adidas footwear deals</p>
                    <a href="{% url 'products' %}?gender=f,u" id="strap-sale-women" class="btn btn-danger btn-lg me-md-2 mt-4">SHOP
                        WOMEN'S</a>
                    <br class="strap-break-products">
                    <a href="{% url 'products' %}?gender=m,u" id="strap-margin-sale"
                        class="btn btn-danger btn-lg me-lg-5 me-md-4 mt-4 strap-margin-products">SHOP MEN'S</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}