{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<h2 class="mb-4 text-center text-uppercase">{% trans "Change Password" %}</h2>
<hr class="hr-heading">
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn btn-outline-dark" href="{% url 'account_login' %}"><i class="bi bi-chevron-left"></i><span>
                    Back to
                    Login</span></a>
            <button class="btn btn-dark" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}