{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="masthead-success">
    <div class="container position-relative image-success">
        <div class="ms-2 row">
            <div class="col">
                <div class="text-white">
                    <!-- Page heading-->
                    <h1 class="fw-bold one-line-strap masthead-title">Sneaker dreaming</h1>
                    <h1 class="fw-bold two-line-strap masthead-title">Dreaming of </h1>
                    <h1 class="fw-bold two-line-strap masthead-title">sneakers..</h1>
                    <p class="lead fw-normal text-white-50 mb-0 sub-title">Grab the shoes you deserve</p>
                    <a href="{% url 'products' %}?gender=f,u" id="strap-products-women"
                        class="btn btn-danger btn-lg me-md-2 mt-4">SHOP
                        WOMEN'S</a>
                    <br class="strap-break-products">
                    <a href="{% url 'products' %}?gender=m,u" id="strap-margin-products"
                        class="btn btn-danger btn-lg me-lg-5 me-md-4 mt-4 strap-margin-products">SHOP MEN'S</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 text-center">PRODUCT MANAGEMENT</h2>
                <hr class="hr-heading">
                <h5 class="text-center">ADD A PRODUCT</h5>
                <hr class="hr-heading-short">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'image1' %}
                    <div class="mb-2">
                        {{ field | as_crispy_field }}
                    </div>
                    {% else %}
                    <div class="mb-2">
                        {{ field }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="text-end">
                        <a class="btn btn-outline-dark" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $('.new-image').change(function () {
        var file = $('.new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}