{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="masthead-success">
    <div class="container position-relative image-success">
        <div class="ms-2 row">
            <div class="col">
                <div class="text-white">
                    <!-- Page heading-->
                    <h1 class="fw-bold one-line-strap masthead-title">Sneaker dreaming</h1>
                    <h1 class="fw-bold two-line-strap masthead-title">Dreaming of </h1>
                    <h1 class="fw-bold two-line-strap masthead-title">sneakers..</h1>
                    <p class="lead fw-normal text-white-50 mb-0 sub-title">Grab the shoes you deserve</p>
                    <a href="{% url 'products' %}?gender=f,u" id="strap-products-women"
                        class="btn btn-danger btn-lg me-md-2 mt-4">SHOP
                        WOMEN'S</a>
                    <br class="strap-break-products">
                    <a href="{% url 'products' %}?gender=m,u" id="strap-margin-products"
                        class="btn btn-danger btn-lg me-lg-5 me-md-4 mt-4 strap-margin-products">SHOP MEN'S</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 text-center">PRODUCT MANAGEMENT</h2>
                <hr class="hr-heading">
                <h5 class="text-center">EDIT A PRODUCT</h5>
                <hr class="hr-heading-short">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-2">
                        {{ form.category | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.product_id | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.name | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.description | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.price | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.on_sale | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.discount_percent | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.average_rating | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.size | as_crispy_field }}
                    </div>
                    <div class="mb-2">
                        {{ form.gender | as_crispy_field }}
                    </div>
                    <div class="row">
                        {% for field in form %}
                        {% if field.name == 'image1' %}
                        <div class="mb-2 form-group col-12 col-sm-6">
                            <p class="image-margin">Image 1</p>
                            {{ field }}
                        </div>
                        {% elif field.name == 'image2' %}
                        <div class="mb-2 form-group col-12 col-sm-6">
                            <p class="image-margin">Image 2</p>
                            {{ field }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for field in form %}
                        {% if field.name == 'image3' %}
                        <div class="mb-2 form-group col-12 col-sm-6">
                            <p class="image-margin">Image 3</p>
                            {{ field }}
                        </div>
                        {% elif field.name == 'image4' %}
                        <div class="mb-2 form-group col-12 col-sm-6">
                            <p class="image-margin">Image 4</p>
                            {{ field }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="text-end mt-5">
                        <a class="btn btn-outline-dark" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<!-- Add message with filename for image selected -->
<script>
    $('.new-image').change(function () {
        var file = $(this)[0].files[0];
        $(this).parent().next().text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}