{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sneaker Dadi's got you covered..(products.html)</h1>
            <p class="lead fw-normal text-white-50 mb-0">Check out our fantastic Adidas footwear deals!</p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="sort-select-wrapper w-100">
                    <div class="col-12 col-md-6 ms-auto mb-4">
                        <!--<select class="form-select" aria-label="Default select example">
                            <option selected>Select..</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>-->
                        <select id="sort-selector"
                            class="form-select form-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-start">
                {% if products|length == 1 %}
                1 product {% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
                {% else %}
                {{ products|length }} products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center order-3">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if product.image1 %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{ product.image1.url }}" alt="{{ product.name }}" />
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product reviews-->
                            {% if product.rating %}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <small class="text-muted">{{ product.rating }} / 5</small>
                            </div>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                            <!-- Product price-->
                            <p>£{{ product.price }}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="">Edit</a> |
                        <a class="text-danger" href="">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="btt-button">
        <a class="btt-link d-flex h-100 justify-content-end">
            <i class="bi bi-caret-up-square-fill"></i>
        </a>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    //Capture the change event from the sort-selector
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);
        //Get the selected value from the selector box
        var selectedVal = selector.val();
        //If the value is not reset to the default on the products page
        if (selectedVal != "reset") {
            //Get the sort and direction by splitting selected value
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];
            //Replace the params in the URL 
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            //Replace the current location with the updated currentURL
            window.location.replace(currentUrl);
            //If the reset selected  
        } else {
            //Delete the sort & direction params
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            //Replace the location
            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}