{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Product section-->
<section class="pt-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <h2 class="hidden">Product</h2>
                <!-- Product image carousel-->
                <div id="carouselIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel"
                    data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% if product.image1 %}
                            <img src="{{ product.image1.url }}" class="d-block w-100" alt="{{ product.name }}">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if product.image2 %}
                            <img src="{{ product.image2.url }}" class="d-block w-100" alt="{{ product.name }} Image2">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }">
                        {% endif %}
                      </div>
                      <div class="carousel-item">
                        {% if product.image3 %}
                        <img src="{{ product.image3.url }}" class="d-block w-100" alt="{{ product.name }} Image3">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if product.image4 %}
                            <img src="{{ product.image4.url }}" class="d-block w-100" alt="{{ product.name }} Image4">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" class="d-block w-100" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- End Product image carousel-->
            </div>
            <div class="col-md-6">
                <div class="small mb-1">Product ID: {{ product.product_id }}
                    {% if request.user.is_superuser %}
                    <span class="ms-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <button type="button" class="delete-link text-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteProduct{{ product.id }}">Delete</button>
                    </span>
                    {% include 'products/includes/modals.html' %}
                    {% endif %}
                </div>

                <div class="h1 display-5 fw-bolder">{{ product.name }}
                    {% if product.on_sale is True %}
                    <!-- Sale badge-->
                    <span id="badge-size" class="badge bg-danger text-white ms-1">Sale
                    </span>
                    {% endif %}
                </div>
                <!-- Star rating -->
                <div class="rating-title">
                    {% if product.average_rating %}
                    <small class="text-muted">
                        <!-- Average star rating -->
                        <!-- Credit: https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates/14389078#14389078 -->
                        {% with ''|center:product.average_rating as range %}
                        {% for _ in range %}
                        <i class="bi bi-star-fill text-warning"></i>
                        {% endfor %}
                        {% endwith %}
                        <!-- Average rating -->
                        <span class="avg-rating ms-2">{{ product.average_rating|floatformat:"1" }}</span>/5</small>
                    {% else %}
                    <small class="text-muted">
                        <i class="no-rating">No Rating</i><span class="avg-stars"></span><span
                            class="avg-rating ms-2"></span></small>
                    {% endif %}
                </div>
                <div>
                    <!-- Price -->
                    <small class="text-muted">Price:</small>
                    {% if product.on_sale is True %}
                    <span class="text-decoration-line-through fs-5">£{{ product.price }}</span>
                    <span class="fs-5 text-danger">£{{ product.get_sale_price }}</span>
                    {% else %}
                    <span class="fs-5">£{{ product.price }}</span>
                    {% endif %}
                </div>
                {% if product.category %}
                <!-- Category -->
                <p class="small mt-1 mb-5">
                    <span id="text-category"><strong>Category:</strong></span>
                    <a href="{% url 'products' %}?category={{ product.category.name }}">
                        {{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <p class="lead">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <!-- Size -->
                        <div class="col-12">
                            <p class="mt-1 me-3"><strong>Size:</strong></p>
                            <select class="form-control mb-3" id="size" name="size" style="max-width: 6rem" required>
                                <option value="" selected>Select</option>
                                {% for size in product.size %}
                                <option value="{{ size }}">{{ size }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 shop-button-wrapper">
                        <!-- Continue shopping button -->
                        <a href="{% url 'products' %}" class="btn btn-outline-dark shop-button">
                            <span class="icon">
                                <i class="bi bi-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Continue Shopping</span>
                        </a>
                        <!-- Add to cart button -->
                        <button class="btn btn-dark flex-shrink-0 shop-button" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                        <input type="hidden" name="quantity" value=1>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Product Review section-->
<section>
    <div class="container px-4 px-lg-5 my-5">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2 class="fw-bolder mb-4 review-heading">Reviews ({{ num_reviews }})
                    {% if user.is_authenticated %}
                    {% if can_add_review %}
                    <span><button type="button" id="btn-review" class="btn btn-warning btn-sm mb-2 ms-2"
                            data-bs-toggle="modal" data-bs-target="#productReview">Add Review</button></span>
                    {% endif %}
                    {% endif %}
                </h2>
                {% if user.is_authenticated %}
                {% include 'products/includes/modals.html' %}
                {% endif %}
            </div>
            {% if not user.is_authenticated %}
            <div class="col-md-6">
                <p class="ms-lg-3 align-bottom lead">Please <a class="link-secondary"
                        href="{% url 'account_login' %}">login</a> or <a class="link-secondary"
                        href="{% url 'account_signup' %}">register</a> to add a review.</p>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <!-- Detail -->
            {% if reviews %}
            {% for review in reviews reversed %}
            <!-- Credit: Code Artisan Lab - https://www.youtube.com/watch?v=7tyMyLCjKVg&list=PLgnySyq8qZmrxJvJbZC1eb7PD4bu0a-sB&index=31 -->
            <blockquote class="blockquote text-right">
                <cite title="Source Title">
                    {% for star in review.review_rating|ljust:review.review_rating %}
                    <i class="bi bi-star-fill text-warning"></i>
                    {% endfor %}
                    <!-- Verified Purchase -->
                    <!-- Credit: https://github.com/Edb83/moose-juice/blob/master/products/views.py -->
                    {% if review.verified_purchase %}<span class="ms-2 verified">Verified purchase</span>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <i id="delete_review" class="bi bi-trash-fill mb-2 ms-2 float-end text-danger pointer-size"
                        data-bs-toggle="modal" data-bs-target="#deleteReview{{ review.id }}"></i>
                    {% endif %}
                    {% if request.user.username == review.user.username %}
                    <i id="edit_review" class="bi bi-pencil-fill mb-2 ms-2 float-end text-secondary pointer-size"
                        data-bs-toggle="modal" data-bs-target="#editReview{{ review.id }}"></i>
                    {% endif %}
                </cite>
                <p>{{ review.review_text }}</p>
                <footer class="blockquote-footer">{{ review.user|title }},
                    <span>{{ review.created_on|date:"d F Y" }}</span>
                </footer>
            </blockquote>
            <hr />
            <!-- Edit Product Review Modal -->
            {% if user.is_authenticated %}
            <div class="modal fade" id="editReview{{ review.id }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Product Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'edit_review' review.id %}">
                                {% csrf_token %}
                                <fieldset class="rounded px-3 mb-2">
                                    <div class="mb-2">
                                        {{ form.review_text | as_crispy_field }}
                                    </div>
                                    <div class="mb-2 col-6">
                                        {{ form.review_rating | as_crispy_field }}
                                    </div>
                                </fieldset>
                                <button type="submit" class="btn btn-dark float-end ms-1 me-4">Submit</button>
                                <button type="button" class="btn btn-outline-dark float-end" data-bs-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- End Edit Product Review Modal -->
            <!-- Delete Product Review Modal -->
            {% if user.is_superuser %}
            <div class="modal fade" id="deleteReview{{ review.id }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteReviewLabel">Delete Product Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ review.user }}'s review?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'delete_review' review.id %}" id="delete_review" type="button"
                                class="btn btn-danger float-end font-normal">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- End Delete Product Review Modal -->
            {% endfor %}
            {% else %}
            <i class="no-data">No reviews yet.</i>
            {% endif %}
        </div>
    </div>
</section>
<!-- Related Products section -->
<section class="py-5 bg-light">
    <!-- Related Products XL -->
    <div class="container px-4 px-lg-5 related-xl-carousel">
        <h2 class="fw-bolder mb-4">Related products</h2>
        {% if product.gender == "m" %}
        <!-- Check if no male related products -->
        {% if not related_products_male %}
        <i>No related products.</i>
        {% elif related_products_male.count > 4 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_male %}
                <!-- Male related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Male related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <!-- Check if no female related products -->
        {% if not related_products_female %}
        <i>No related products.</i>
        {% elif related_products_female.count > 4 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_female %}
                <!-- Female related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Female related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <!-- End Related products XL -->
    <!-- Related products LG -->
    <div class="container px-4 px-lg-5 related-lg-carousel">
        <h2 class="fw-bolder mb-4">Related products</h2>
        {% if product.gender == "m" %}
        <!-- Check if no male related products -->
        {% if not related_products_male %}
        <i>No related products.</i>
        {% elif related_products_male.count > 3 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_male %}
                <!-- Male related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Male related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <!-- Check if no female related products -->
        {% if not related_products_female %}
        <i>No related products.</i>
        {% elif related_products_female.count > 3 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_female %}
                <!-- Female related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Female related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <!-- End Related products LG -->
    <!-- Related products MD -->
    <div class="container px-4 px-lg-5 related-md-carousel">
        <h2 class="fw-bolder mb-4">Related products</h2>
        {% if product.gender == "m" %}
        <!-- Check if no male related products -->
        {% if not related_products_male %}
        <i>No related products.</i>
        {% elif related_products_male.count > 2 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_male %}
                <!-- Male related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Male related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <!-- Check if no female related products -->
        {% if not related_products_female %}
        <i>No related products.</i>
        {% elif related_products_female.count > 2 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_female %}
                <!-- Female related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Female related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <!-- End Related products MD -->
    <!-- Related products SM -->
    <div class="container px-4 px-lg-5 related-sm-carousel">
        <h2 class="fw-bolder mb-4">Related products</h2>
        {% if product.gender == "m" %}
        <!-- Check if no male related products -->
        {% if not related_products_male %}
        <i>No related products.</i>
        {% elif related_products_male.count > 1 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_male %}
                <!-- Male related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Male related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% else %}
        <!-- Check if no female related products -->
        {% if not related_products_female %}
        <i>No related products.</i>
        {% elif related_products_female.count > 1 %}
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% for product in related_products_female %}
                <!-- Female related products -->
                {% include 'products/includes/product_carousel.html' %}
                {% endfor %}
            </div>
            <!-- End Flickity carousel-->
        </div>
        {% else %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in related_products_male %}
            <!-- Female related products -->
            {% include 'products/includes/product_info.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <!-- End Related products SM -->
</section>
{% endblock %}