{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sneaker Dadi's got you covered..(products.html)</h1>
            <p class="lead fw-normal text-white-50 mb-0">Check out our fantastic Adidas footwear deals!</p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- <div class="container">
    <div class="row">
        <div class="col">
            {{ products }}
        </div>
    </div>
</div> -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if product.image1 %}
                    <img class="card-img-top" src="{{ product.image1.url }}" alt="{{ product.name }}" />
                    {% else %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" />
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product reviews-->
                            {% if product.rating %}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <small class="text-muted">{{ product.rating }} / 5</small>
                            </div>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                            <!-- Product price-->
                           <p>£{{ product.price }}</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="">Edit</a> |
                        <a class="text-danger" href="">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}