{% load cart_tools %}


<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="me-auto">
            {% if on_checkout_success %}Order placed successfully.
            {% elif on_profile %}Profile updated successfully.
            {% elif message.extra_tags %}{{ message }}
            <!-- Credit: https://stackoverflow.com/questions/43588876/how-can-i-add-additional-data-to-django-messages/43729673#43729673 -->
            {% elif product_count == 0 %}{{ message }}
            {% elif product_count == 1 %}1 ITEM IN YOUR CART
            {% else %}
            {{ product_count }} ITEMS IN YOUR CART{% endif %}</strong>
        <button type="button" class="btn-close toast-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <!--Credit: https://stackoverflow.com/questions/23637846/grouping-conditions-in-django-template-if-statement -->
    {% if not message.extra_tags or on_profile or on_edit_product or product_count == 0 %}
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
        {% if total > 0 and not on_profile %}
        <div class="cart-notification-wrapper">
            {% for item in cart_items %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.product.image1 %}
                    <img class="w-100" src="{{ item.product.image1.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0 ms-1">{{ item.product.name }}</p>
                    <p class="my-0 ms-1 small">Size: {{ item.size|upper }}
                    </p>
                    <p class="my-0 ms-1 small">Qty: {{ item.quantity }}</p>
                    <p class="my-0 ms-1 small"><strong>
                            £{{ item.product.price | calc_subtotal:item.quantity }}</strong>
                    </p>
                </div>
                <hr class="mt-2 mb-3">
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-3">
                <p>
                    Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:</p>
            </div>
            <div class="col-9">
                <p>£{{ total|floatformat:2 }}</p>
                </p>
            </div>
            {% if free_delivery_delta > 0 %}
            <div class="d-grid gap-2">
                <p class="mb-0 p-2 bg-warning shadow-sm text-center">
                    Spend <strong>${{ free_delivery_delta }}</strong> more to get free next day delivery!
                </p>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <a href="{% url 'view_cart' %}" class="btn btn-outline-dark d-block">
                        <span class="text-uppercase">View Cart</span>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'view_cart' %}" class="btn btn-dark d-block">
                        <span class="text-uppercase">Checkout</span>
                        <i class="bi bi-lock-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
</div>